Repository nettee-space/backend-sample-hexagonal-simple-crud, pull requests merged in 2025-02, with the labels that each got.

#25 Driven(query) 구현
  build.gradle.kts
  src/main/java/me/nettee/board/adapter/driven/mapper/BoardEntityMapper.java
  src/main/java/me/nettee/board/adapter/driven/persistence/BoardJpaRepository.java
  src/main/java/me/nettee/board/adapter/driven/persistence/BoardQueryAdapter.java
  src/main/java/me/nettee/board/adapter/driven/persistence/entity/BoardEntity.java
  src/main/java/me/nettee/board/application/domain/Board.java
  src/main/java/me/nettee/board/application/exception/BoardCommandErrorCode.java
  src/main/java/me/nettee/board/application/exception/BoardCommandException.java
  src/main/java/me/nettee/board/application/exception/BoardQueryErrorCode.java
  src/main/java/me/nettee/board/application/exception/BoardQueryException.java
  src/main/java/me/nettee/board/application/port/BoardQueryPort.java
  src/main/java/me/nettee/common/exeption/CustomException.java
  src/main/java/me/nettee/common/exeption/ErrorCode.java
  src/main/java/me/nettee/common/exeption/GlobalExceptionHandler.java
  src/main/java/me/nettee/common/exeption/response/ApiErrorResponse.java
  src/test/kotlin/me/nettee/board/adapter/driven/persistence/BoardQueryAdapterTest.kt
Labels: type: feature, in: board, review: ing, status: ing

#54 새 이슈 템플릿: [TASK LIST] 추가
  .github/ISSUE_TEMPLATE/task-list-template.md
Labels: type: documentation

#52 Refactoring Board Port 및 ReadModel, SoftDelete 정책 반영
  src/main/java/me/nettee/board/application/model/BoardQueryModels.java
  src/main/java/me/nettee/board/application/model/BoardReadDetailModel.java
  src/main/java/me/nettee/board/application/model/BoardReadSummaryModel.java
  src/main/java/me/nettee/board/application/port/BoardCommandPort.java
  src/main/java/me/nettee/board/application/port/BoardQueryPort.java
  src/main/java/me/nettee/board/application/usecase/BoardCreateUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardDeleteUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardReadByStatusesUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardReadUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardUpdateUseCase.java
Labels: type: refactor, in: board

#58 feat(core-jpa): config 추가
  src/main/java/me/nettee/core/jpa/config/JpaConfig.java
Labels: type: feature

#59 Feature/board driven command : BoardEntityStatus 추가 및 delete > updateStatus변경
  src/main/java/me/nettee/board/adapter/driven/persistence/BoardCommandAdapter.java
  src/main/java/me/nettee/board/adapter/driven/persistence/entity/BoardEntity.java
  src/main/java/me/nettee/board/adapter/driven/persistence/entity/type/BoardEntityStatus.java
  src/main/java/me/nettee/board/adapter/driven/persistence/entity/type/BoardEntityStatusConverter.java
  src/test/kotlin/me/nettee/board/adapter/driven/persistence/BoardCommandAdapterTest.kt
Labels: type: feature, type: refactor, in: board, review: ing

#56 JSON 직렬화 시 null 데이터가 제거 설정 반영 및 Refactoring board driving
  src/main/java/me/nettee/board/adapter/driven/persistence/BoardQueryAdapter.java
  src/main/java/me/nettee/board/adapter/driven/persistence/mapper/BoardEntityMapper.java
  src/main/java/me/nettee/board/adapter/driving/web/BoardCommandApi.java
  src/main/java/me/nettee/board/adapter/driving/web/BoardQueryApi.java
  src/main/java/me/nettee/board/adapter/driving/web/dto/BoardQueryDto.java
  src/main/java/me/nettee/board/adapter/driving/web/mapper/BoardDtoMapper.java
  src/main/java/me/nettee/board/application/exception/BoardCommandErrorCode.java
  src/main/java/me/nettee/board/application/exception/BoardCommandException.java
  src/main/java/me/nettee/board/application/exception/BoardErrorCodeLazyHolder.java
  src/main/java/me/nettee/board/application/exception/BoardQueryErrorCode.java
  src/main/java/me/nettee/board/application/exception/BoardQueryException.java
  src/main/java/me/nettee/board/application/service/BoardQueryService.java
  src/main/java/me/nettee/common/exeption/CustomException.java
  src/main/java/me/nettee/common/exeption/ErrorCode.java
  src/main/java/me/nettee/common/exeption/GlobalExceptionHandler.java
  src/main/java/me/nettee/common/exeption/response/ApiErrorResponse.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/test/kotlin/me/nettee/board/adapter/driving/web/BoardCommandApiTest.kt
  src/test/kotlin/me/nettee/board/adapter/driving/web/BoardQueryApiTest.kt
  src/test/resources/application.yml
Labels: type: feature, type: refactor, in: board, review: ing

#60 Feature/board service: Soft Delete 적용 및 Test Code 변경
  src/main/java/me/nettee/board/application/service/BoardCommandService.java
  src/main/java/me/nettee/board/application/service/BoardQueryService.java
  src/test/kotlin/me/nettee/board/application/service/BoardCommandServiceTest.kt
  src/test/kotlin/me/nettee/board/application/service/BoardQueryServiceTest.kt
Labels: type: refactor, in: board

#62 Feature/board-driven-query: BoardEntity 및 Mapper 개선
  src/main/java/me/nettee/board/adapter/driven/persistence/BoardCommandAdapter.java
  src/main/java/me/nettee/board/adapter/driven/persistence/BoardQueryAdapter.java
  src/main/java/me/nettee/board/adapter/driven/persistence/entity/BoardEntity.java
  src/main/java/me/nettee/board/adapter/driven/persistence/entity/type/BoardEntityStatus.java
  src/main/java/me/nettee/board/adapter/driven/persistence/mapper/BoardEntityMapper.java
  src/main/java/me/nettee/board/application/exception/BoardQueryException.java
  src/main/java/me/nettee/board/application/service/BoardCommandService.java
  src/main/java/me/nettee/board/application/service/BoardQueryService.java
  src/main/java/me/nettee/common/exeption/CustomException.java
  src/main/resources/db/migration/v1_0/V1_0_2__alter_board_status_type_to_integer.sql
  src/test/kotlin/me/nettee/board/adapter/driven/persistence/BoardQueryAdapterTest.kt
  src/test/kotlin/me/nettee/board/application/service/BoardQueryServiceTest.kt
Labels: type: feature, in: board, review: ing, status: ing

#61 feat(common): ErrorCode 및 CustomException 정의
  src/main/java/me/nettee/board/application/exception/BoardCommandErrorCode.java
  src/main/java/me/nettee/board/application/exception/BoardCommandException.java
  src/main/java/me/nettee/board/application/exception/BoardErrorCodeLazyHolder.java
  src/main/java/me/nettee/board/application/exception/BoardQueryErrorCode.java
  src/main/java/me/nettee/board/application/exception/BoardQueryException.java
  src/main/java/me/nettee/common/exeption/CustomException.java
  src/main/java/me/nettee/common/exeption/GlobalExceptionHandler.java
  src/main/java/me/nettee/common/exeption/response/ApiErrorResponse.java
Labels: type: feature, in: board, in: common, review: ing, ⭐️ Hot Place
