Repository nettee-space/backend-sample-hexagonal-simple-crud, pull requests merged in 2025-01, with the labels that each got.

#9 docs(readme): reconfigure mapper's package location
  README.md
Labels: type: documentation, review: provided

#10 Add PULL_REQUEST_TEMPLATE.md to the project
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: documentation, review: provided

#12 Docker Compose to Set up the PostgreSQL container and Applying Flyway
  build.gradle.kts
  docker-compose.yml
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/main/resources/db/migration/v1_0/V1_0_0__init_schema.sql
  src/main/resources/db/migration/v1_0/V1_0_1__create_tb_board.sql
Labels: type: feature, in: board, in: common, status: ing

#11 Add ports for board
  build.gradle.kts
  src/main/java/me/nettee/board/application/domain/Board.java
  src/main/java/me/nettee/board/application/domain/type/BoardStatus.java
  src/main/java/me/nettee/board/application/port/BoardCommandPort.java
  src/main/java/me/nettee/board/application/port/BoardQueryPort.java
Labels: type: feature, in: board, review: ing

#13 Issue Template 생성
  .github/ISSUE_TEMPLATE/basic-issue-template.md
Labels: type: documentation, review: ing, status: ing

#24 Driving Adapter 와 UseCase 구현
  build.gradle.kts
  src/main/java/me/nettee/board/adapter/driving/web/BoardCommandApi.java
  src/main/java/me/nettee/board/adapter/driving/web/BoardQueryApi.java
  src/main/java/me/nettee/board/adapter/driving/web/dto/BoardCommandDto.java
  src/main/java/me/nettee/board/adapter/driving/web/dto/BoardQueryDto.java
  src/main/java/me/nettee/board/adapter/driving/web/mapper/BoardDtoMapper.java
  src/main/java/me/nettee/board/application/model/BoardReadDetailModel.java
  src/main/java/me/nettee/board/application/model/BoardReadSummaryModel.java
  src/main/java/me/nettee/board/application/port/BoardCommandPort.java
  src/main/java/me/nettee/board/application/port/BoardQueryPort.java
  src/main/java/me/nettee/board/application/service/BoardCommandService.java
  src/main/java/me/nettee/board/application/service/BoardQueryService.java
  src/main/java/me/nettee/board/application/usecase/BoardCreateUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardDeleteUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardReadByStatusesUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardReadUseCase.java
  src/main/java/me/nettee/board/application/usecase/BoardUpdateUseCase.java
  src/main/resources/application-local.yml
  src/test/kotlin/me/nettee/board/adapter/driving/web/BoardCommandApiTest.kt
  src/test/kotlin/me/nettee/board/adapter/driving/web/BoardQueryApiTest.kt
  src/test/kotlin/me/nettee/board/application/service/BoardCommandServiceTest.kt
  src/test/kotlin/me/nettee/board/application/service/BoardQueryServiceTest.kt
Labels: type: feature, in: board, review: ing
